/* You can add global styles to this file, and also import other style files */
@import '~antd/dist/antd.less';
html,
body {
  height: 100%;
}
.main-layout .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.main-layout .trigger:hover {
  color: #1890ff;
}

.main-layout .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}
